<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ormeggi</title>
  <link rel="stylesheet" type="text/css" href="style/style.css">
  <meta name="description" content="uma loja de roupas online">
  <meta name="keywords" content="online store, clothing shop, fashion blog">
  <meta name="author" content="JaponêsLofy">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-a9P/Za0/njhjM6DDwGrj8Vp1lt9L2axWPIqARh1BePdx1zBs/fgucckOb0I2DZnxkmn0XfnF2pNGKlYa82nUw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<footer class="footer">
  <h1 class="footer-title">Ormeggi</h1>
  <nav role="navigation" class="menu-links">
    <a href="#">Home</a>
    <a href="#">Blusas</a>
    <a href="#">Calças</a>
    <a href="#">Conjuntos</a>
    <a href="#">Kits</a>
  </nav>
    <header class="sticky" id="head">
    <body>
      <header class="sticky" id="head">
        <div class="topnav">
          <a href="#" id="cart-toggle">
            <div class="cart-icon-container">
              <i style="font-size: 24px" class="fas fa-shopping-cart"></i>
              <span id="cart-counter" class="cart-counter">0</span>
            </div>
          </a>
          <a href="../login/index.html" id="acc"><i style="font-size:24px" class="fas">&#xf007;</i></a>
        </div>
        </header>
        </div>
</footer>
<div class="slider">
  <div class="slides">
    <div class="slide first">
      <img src="./img/moletom.png" alt="moletom">
    </div>
    <div class="slide">
      <img src="./img/blusas.png" alt="blusas">
    </div>
    <div class="slide">
      <img src="./img/calças.png" alt="calças">
    </div>
    <div class="slide">
      <img src="./img/conjunto.png" alt="conjuntos">
    </div>
    <div class="slide">
      <img src="./img/kits.png" alt="kits">
    </div>
  </div>
</div>
<div id="grid">
  <div id="row">
    <p id="headr">Mais Comprados</p>

    <div class="product-list">
      <!-- Item 1 -->
      <div class="product-item">
        <a href="../carrinho/index.html" class="product-link">
          <img alt="Moletons" class="product-img" src="img/listagem (1).jpeg">
          <p class="product-name">Moletom</p>
          <div class="product-description">
            <a class="title">Conjunto Moletom: Areia</a>
          </div>
        </a>
      </div>
      <!-- Item 2 -->
      <div class="product-item">
        <a href="../carrinho/index.html" class="product-link">
        <img alt="Moletons" class="product-img" src="img/listagem (2).jpeg">
        <p class="product-name">Moletom</p>
        <div class="product-description">
          <a class="title">Calça Moletom: Azul</a>
 
        </div>
      </div>
      <!-- Item 3 -->
      <div class="product-item">
        <a href="../carrinho/index.html" class="product-link">
        <img alt="Moletons" class="product-img" src="img/listagem (3).jpeg">
        <p class="product-name">Moletom</p>
        <div class="product-description">
          <a class="title">Calça Moletom: Rosa</a>
 
        </div>
      </div>
      <!-- Item 4 -->
      <div class="product-item">
        <a href="../carrinho/index.html" class="product-link">
        <img alt="Moletons" class="product-img" src="img/listagem (4).jpeg">
        <p class="product-name">Moletom</p>
        <div class="product-description">
          <a class="title">Kit Moletom: Preta/Areia</a>
 
        </div>
      </div>
      <!-- Item 5 -->
      <div class="product-item">
        <a href="../carrinho/index.html" class="product-link">
        <img alt="Moletons" class="product-img" src="img/listagem (5).jpeg">
        <p class="product-name">Moletom</p>
        <div class="product-description">
          <a class="title">Kit Moletom: Areia/Cinza</a>
 
        </div>
      </div>
      <!-- Item 6 -->
      <div class="product-item">
        <a href="../carrinho/index.html" class="product-link">
        <img alt="Moletons" class="product-img" src="img/listagem (6).jpeg">
        <p class="product-name">Moletom</p>
        <div class="product-description">
          <a class="title">Calça Moletom: Cinza</a>
 
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Rodapé separado -->
  <footer class="black-footer">
    <div id="social-buttons">
      <a href="#" class="social-button instagram">
        <i class="fab fa-instagram"></i> 
      </a>
      <a href="#" class="social-button whatsapp">
        <i class="fab fa-whatsapp"></i> 
      </a>
    </div>
    </div>
    <form id="newsletter" class="form-inline">
      Conecte-se com seu email para receber ofertas
      <p id="sml"> </p>
      <div>
        <input type="text" id="name" placeholder="Seu Nome">
        <input type="email" id="em" class="form-control" size="50" placeholder="Email">
        <button id="email" type="button" class="btn btn-danger">Follow</button>
      </div>
    </form>
    <div id="name-bottom">
      Ormeggi 2023
    </div>
  </footer>
<script src="main.js"></script>
</body>
</html>